/* Base styles */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background: black;
}

nav {
  position: fixed;
  bottom: 0;
  height: 4.7rem;
  left: 0;
  right: 0;
  z-index: 50;
  background: black; /* Change background to black */
  color: white; /* Change text color to white */
  border-top: 1px solid white; /* Change the border to white */
}

.link {
  color: white; /* Links in nav are now white */
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.2s;
}

.link:hover {
  color: #4f46e5;
}

/* Profile menu styles */
.profile-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: inline-block;
}

.profile-menu button {
  background: none;
  border: white solid 1px; /* Outline color white */
  cursor: pointer;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: white; /* Button text is white */
  transition: background-color 0.2s;
}

.profile-menu button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Light hover effect */
}

.profile-menu-dropdown {
  position: absolute;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Ensure content doesn't get hidden behind the navbar */
main {
  padding-bottom: 5rem; /* Increase padding if necessary */
}

.user-info {
  background: black;
  display: flex;
  align-items: center; /* Vertically align the items */
  gap: 10px; /* Space between items */
}

.relative {
  position: relative;
  z-index: 51; /* Ensure elements appear on top of the navbar */
}

.leaderboard {
  background: black;
  color: white;
  text-align: center;
  margin-left: 6px;
}